.home-container {
    text-align: center;
  }

  .title {
    margin-top: 20px;
  }
  
  .button-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .add-item-button,
  .menu-ideas-button,
  .add-to-list {
    width: 95%;
    height: 29vh;
    margin-top: 1%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .add-item-button {
    background-image: url(Components/Img/fridge.jpg);
    background-size: cover;
    color: white;
  }
  
  .menu-ideas-button {
    background-image: url(Components/Img/menu_idea.jpg);
    background-size: cover;
    color: white;
  }

  .add-to-list {
    background-image: url(Components/Img/shopping-list.jpg);
    background-size: cover;
    color: white;
  }
  
  .add-item-button:hover,
  .menu-ideas-button:hover
  .add-to-list:hover {
    background-color: #3e8e41;
  }
  
  p {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
  }
  
  .openai-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .openai-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .openai-input {
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  .openai-submit-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .openai-response {
    margin-top: 20px;
    font-size: 18px;
  }