body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.add-form {
  margin-bottom: 40px;
}
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
}
.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.form-control input:focus {
  outline: 0;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
  color: white;
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-block:hover {
  background: white;
  border: solid 1px black;
}

.btn_link {
  display: inline-block;
  background: rgb(0, 112, 218);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn_link:focus {
  outline: none;
  color: white;
}
.btn_link-block {
  display: block;
  width: 100%;
}

.btn_link-block:hover {
  background: white;
  border: solid 1px rgb(0, 112, 218);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.item {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: space-between;
}
.textBold {
  font-weight: bold;
}

.icon{
  margin-bottom: 10px;
}

.delIcon {
  color: red;
  cursor: pointer;
  margin-right: 15px;
}
.editIcon {
  color: blue;
  cursor: pointer;
} 

.spinnerContainer {
  margin: 20% auto;
  max-width: 15%;
}

.app-header {
  padding-left: 10px;
  color: #000;
}

a:link {
  text-decoration: none;
}
